<img class="tomato" src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.15752-9/422221804_442098844895337_285424521677156991_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=7pd_QPax_lQAb5SSPVN&_nc_ht=scontent.ftbs6-2.fna&oh=03_AdWPJueJcLhY-WBYkyOrBg_RxDB2tXooEi05jjouXCbtNA&oe=663E0DAD" alt="">
<div class="head">
    <div class="step" routerLink="">
        <h1 class="st">Step</h1>
        <h1 class="ord">Ordering</h1>
    </div>
    <div class="step1">
        <h3 class="home" routerLink="">Home</h3>
        <h3 class="cart" routerLink="cart">Cart</h3>
    </div>
    <img class="moto" src="https://scontent.ftbs10-1.fna.fbcdn.net/v/t1.15752-9/435531068_989280092767964_7886677637946586439_n.png?stp=cp0_dst-png&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=YIYBnfWDL3gAb4uX0cF&_nc_ht=scontent.ftbs10-1.fna&oh=03_AdWAntSZsqgoXPMEmTofM145ey4zBLMVIJjgRz7jvzqgLA&oe=664212A5" alt="">
</div>
<div class="head1">
    <h1 class="Fast">My Cart</h1>
</div>
