.cat{
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: 30px;
}
.dishes{
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 25px;
    margin-top: 80px;
    height: 70px;
    width: 1500px;
    margin-left: 170px;
    cursor: pointer;
}
.al{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: 0.5s;
}
.al:hover{
    background-color: red;
    color: white;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: 0.5s;
}
img{
    width: 1300px;
    margin-left: -60px;
    height: 5px;
}
.img{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 800px) {
    .cat{
        display: flex;
        justify-content: center;
        font-size: 75px;
        position: absolute;
        left: 500px;
        margin-top: 400px;
    }
    .dishes{
        position: absolute;
        top: 450px;
        left: -250px;
        font-size: 25px;
        cursor: pointer;
    }
    .al{
        display: flex;
        transition: 0.5s;
    }
    .al:hover{
        background-color: red;
        color: white;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        transition: 0.5s;
    }
    img{
        width: 1300px;
        margin-left: -60px;
        height: 5px;
    }
    .img{
        display: flex;
        justify-content: center;
    }
  }